.ancla-contacto::before {
  content: " " ;
  display: block;
  margin-top: -9vh;
  height: 9vh;
  visibility: hidden;

}

.contacto{
  width: 100%;
}

.contacto .contacto-titulo{
  width: 100%;
  text-align: center;
  display: block;
  padding: 10px;

}
.contacto .contacto-titulo .titulo-contac{
  font-size: 2em;
  margin-bottom:0px;
}

.contacto .contacto-titulo .texto-contacto{
  font-size: .9em;
  font-family: 'ralewayextralight';
}

.contacto .contacto-cont{
  width: 300px;
  height: 300px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;

}

.contacto .contacto-cont .contacto-form{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;

}

.contacto .contacto-cont .contacto-datos{
  background:transparent;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
  width: 80%;
  padding: 12px;
  position: relative;
  margin-bottom: 7px;

}

.contacto .contacto-cont .contacto-datos .contacto-datos-sub{
  width: 90%;
  height: 2px;
  position: absolute;
  color: #c6c6c6;
  bottom: 12px;

}

.contacto .contacto-cont .contacto-datos .contacto-datos-sub::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 0, 0,.4);
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.contacto .contacto-cont .contacto-datos input:focus ~  .contacto-datos-sub::before,
.contacto .contacto-cont .contacto-datos input:valid ~  .contacto-datos-sub::before{
  transform: scaleX(1);
}
.contacto .contacto-cont .contacto-datos input{
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid gray;
  font-size: 1em;
  background: transparent;
  bottom: 0px;
  color: gray;

}

.contacto .contacto-cont .contacto-datos label{
  position: absolute;
  left: 7px;
  pointer-events: none;
  color:gray;
  transition: all .5s ease;
}

.contacto .contacto-cont .contacto-datos input:focus ~  label,
.contacto .contacto-cont .contacto-datos input:valid ~  label{
  transform: translateY(-10px);
  font-size: .6em;
}

.contacto .contacto-cont .contacto-form .contacto-texto{
  width: 100%;
  height: 120px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(233, 233, 233, 0.3);
  background: transparent;
}

.contacto .contacto-cont .contacto-form .contacto-texto textarea{
  background: transparent;
  width: 100%;
  height: 120px;
  border: 0;
  outline: none;
  color: #c6c6c6;
  font-size: 1.3em;
}


.contacto .contacto-cont .contacto-form .contacto-btn{

}

.contacto .contacto-cont .contacto-form .contacto-btn button{
  display: block;
  padding: 7px;
  margin-top: 8px;
  width: 100px;
  border-radius: 5px;
  background: rgba(255, 0, 0,.6);
  color: #fff;
  border: 0px;
  font-family: 'montserratmedium',sans-serif;
  cursor: pointer;
  outline: none;
}

.contacto .contacto-cont .contacto-form .contacto-btn button:hover{
  background: rgba(255, 0, 0,.8);
  transition: .5s ease;
}
