/*Fonts Family*/
/*font-family: 'pacificoregular';
font-family: 'montserratsemibold';
  font-family: 'montserratregular';
font-family: 'montserratmedium';
font-family: 'montserratlight';
font-family: 'ralewaythin';
font-family: 'ralewaysemibold';
font-family: 'ralewayregular';
font-family: 'ralewaymedium';
font-family: 'ralewaylight';
font-family: 'ralewayextralight';
*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}

body{
  background:rgb(38, 37, 37);
  color: #fff;
  font-family: 'ralewaymedium';
}

.btn-scroll{
  font-size: 1.7em;
  position: fixed;
  cursor: pointer;
  bottom: 20px;
  right: 20px;
  opacity: .5;
  display: none;
  z-index: 9000;
}

.btn-scroll:hover{
  opacity: 1;
  transform: scale(1.1);
}

.contenedor-main{
  width: 100%;
  background: rgba(51, 8, 103, 0.6);
}
